[user]  
	name = Ash Kumar 
[alias] 
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
	upstream-push = ! git push -u origin $(git rev-parse --abbrev-ref HEAD) 
[core]
	editor = vim
